%p
  %label
    = t("labels.type")
  = @contact_form.contact_type
%p
  %label
    = t("labels.sender")
  = @contact_form.sender
%p
  %label
    = t("labels.email")
  = @contact_form.email
%p
  %label
    = t("labels.body")
  = @contact_form.body

