%table.main_table
  %tbody
    %tr
      %td.valign
        %section
        %h1.header_h1 
          = t("h1.last_post")
        %table.list_lastdebate
          %tbody
            - @posts.each do |post|
              %tr
                %td{:colspan => "2"}
                  = link_to post.subject, post_path(post)
                  (
                  %span.trueansver> 1072
                  |
                  %span.falseansver> 5202
                  )
            %tr
              %td.hightred
                = link_to t("link.new_post"), new_post_path
              %td.hightblue
                = link_to t("link.posts"), posts_path


      %td.valign
        - if @last_post
          %section
          %h1.header_h1 Последние спор
          %h2
            = link_to @last_post.subject, post_url(@last_post), :class => "color_h2_a"
          %div
            - if @last_post.user.nil? && !@last_post.user.avatar?
              .avatar
                = image_tag @last_post.user.avatar.url, :alt => t("link.avatar")
            .text
              = @last_post.body
          .clear
          %div
            .ansvertruenum
              %span.za
                = t("view.home.support")
              %span.numvoited
                = @last_post.comments.vote_true.size
            .ansverfalsenum
              %span.protiv
                = t("view.home.not_support")
              %span.numvoited 
                = @last_post.comments.vote_false.size
          .clear
          .golosovat2
            .dot_link
              = link_to t("link.voit"), "#", :id => "voit_link"
          - if @comment
            .voited_form
              = form_for @comment do |f|
                = f.hidden_field :commentable_id
                %table
                  %tr
                    %td
                      = f.radio_button :vote, "true"
                      %span.zasmall
                        = t("view.home.supporting")
                    %td{:class => "text_align_right"}
                      %span.protivsmall 
                        = t("view.home.against")
                      = f.radio_button :vote, "false"
                  %tr
                    %td{:colspan => 2}
                      %br/
                      = t("view.home.ansver")
                      = f.text_area :comment
                      %br/
                  - unless current_user
                    %tr 
                      %td{:colspan => 2}
                        = recaptcha_tags
                  %tr 
                    %td{:colspan => 2}
                      = f.submit t("button.post")
          - if @comments
            - @comments.each do |comment|
              .ansver
                .avataranver
                  - if comment.user && comment.user.avatar?
                    %div
                      = image_tag comment.user.avatar.url, :alt => t("link.alt")
                  .rezansverfalse
                    = human_vote(comment)
                .text
                  = h comment.comment
              .clear
:javascript 
  $(document).ready(function() {
    open_comment()
  });

