%h2
  All posts

%table{:class => "table"}
  %tr
    %th{:class => "first"}
      Subject
    %th
      За
    %th
      Против
    %th{:class => "last"}
      Создано
    - @posts.each do |post|
      %tr
        %td
          = link_to post.subject, post_url(post)
        %td
          = post.comments.vote_true.size
        %td
          = post.comments.vote_false.size
        %td
          = post.created_at
= will_paginate @posts
