%section
%h1.header_h1 Спор/мнение
.list_debates
  %h2.header_for_debate_not_link
    = @post.subject
  .avatar
    = image_tag @post.user.user_avatar, :alt => t("alt.avatar")
  = @post.body
  .clear
.rezansverlist
  .golosovat2
    %a{:href => "http://127.0.0.1:3000/debates/1/comments/new"} Голосовать
  .clear
.rezansvershow
  .zaleft
    %span.colorza За:
    %span
      = @num_true_comments
  .protivright
    %span.colorprotiv Против:
    %span
      = @num_false_comments
%table.tableforanvers
  %tbody
    %tr
      %td.left_block
        - unless @true_comments.blank?
          - @true_comments.each do |comment|
            .anvertruediv
              .avatar2
                = image_tag comment.user_avatar, :alt => t("alt.avatar")
              = comment.comment
              .clear
      %td.right_block
        - unless @false_comments.blank?
          - @false_comments.each do |comment|
            .anvertruediv
              - if comment.user_avatar
                .avatar2
                  = image_tag comment.user_avatar, :alt => t("avatar")
              = comment.comment
              .clear

