%section
%h1.header_h1 Спор/мнение
.list_debates
  %h2.header_for_debate_not_link
    = @post.subject
  .avatar
    = image_tag @post.user.user_avatar, :alt => t("alt.avatar")
  = @post.body
  .clear
.rezansverlist
  .golosovat2
    = link_to t("link.voit"), "#", :id => "voit_link"
  .clear
.voited_form
  = form_for @comment do |f|
    = f.hidden_field :commentable_id
    %table
      %tr
        %td
          = f.radio_button :vote, "true"
          %span.zasmall
            = t("view.home.supporting")
        %td{:class => "text_align_right"}
          %span.protivsmall 
            = t("view.home.against")
          = f.radio_button :vote, "false"
      %tr
        %td{:colspan => 2}
          %br/
          = t("view.home.ansver")
          = f.text_area :comment
          %br/
      - unless current_user
        %tr 
          %td{:colspan => 2}
            = recaptcha_tags
      %tr 
        %td{:colspan => 2}
          = f.submit t("button.post")
.rezansvershow
  .zaleft
    %span.colorza За:
    %span
      = @num_true_comments
  .protivright
    %span.colorprotiv Против:
    %span
      = @num_false_comments
%table.tableforanvers
  %tbody
    %tr
      %td.left_block
        - unless @true_comments.blank?
          - @true_comments.each do |comment|
            .anvertruediv
              .avatar2
                = image_tag comment.user_avatar, :alt => t("alt.avatar")
              = comment.comment
              .clear
      %td.right_block
        - unless @false_comments.blank?
          - @false_comments.each do |comment|
            .anvertruediv
              - if comment.user_avatar
                .avatar2
                  = image_tag comment.user_avatar, :alt => t("avatar")
              = comment.comment
              .clear
:javascript
  $(document).ready(function() {
    open_comment()
  })
