%h2
  = @post.subject
%p
  = @post.body

%h3
  User comments

= form_for @comment do |f|
  = f.error_messages
  = f.hidden_field :commentable_id
  = f.text_area :comment, :size => "60x20"
  %br
  = f.submit "Отправить"

- unless @comments.blank?
  - @comments.each do |comment|
    %br
    = comment.comment
